.home {
  .advanced_statistics {
    background-color: #eff1f7;
    text-align: center;
    padding: 120px 20px 40px 20px;
    margin-top: -80px;
    .desk_line {
      display: none;
    }
    .adv_stats_text {
      font-size: 16px;
      letter-spacing: 0.11px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 16px;
      opacity: 60%;
    }
    .adv_stats_title {
      font-size: 28px;
      letter-spacing: -0.7px;
      line-height: 48px;
      font-weight: 700;
    }
  }
}
@media (min-width: 768px) {
  .home {
    .advanced_statistics {
      padding: 20vh 9vw;
      margin-top: -55px;
      .adv_stats_text {
        font-size: 18px;
        line-height: 32px;
      }
      .adv_stats_title {
        font-size: 35px;
        letter-spacing: -1px;
      }
      .desk_line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -175px;
        margin-bottom: 155px;
        .line {
          height: 8px;
          width: 50%;
          background-color: #2bd0d0;
          border: none;
        }
      }
    }
  }
}
